
/**************************************************/
#logo {
  position: fixed;
  left: 20px;
  top: 10px;
  padding: 10px;
  height: 80px;
  width: 200px;
  z-index: 2; /* Increase the z-index value */
}

.top-bar {
  background-color: #333;
  height: 110px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}
/***********************************************************/
.auth  {
  margin-top: 30px;
  margin-right: 30px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #EDF68B;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  float: right;
}

.auth:hover {
  background-color: #bbca12;
}
  
#connec {
  z-index: 1;
  right: 20px;
}

#ins {
  z-index: 2;
  right: 150px;
}

#admin
{
  z-index: 2;
  right: 280px;
}

#username {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 18px;
  color: #ffffff;
  margin-left: 20px;
  margin-right: 60px;
  margin-top: 35px; 
}
#username img {
  width: 40px; 
  height: 40px; 
  border-radius: 50%;
  margin-right: 10px;
}
/*****************************************************************/
  



.diap {
  position: relative;
  margin-top: 150px;
  padding: 40px;
  margin-left: 0px;
  margin-right: 100px;
  display: flex;
  align-items: center;
  filter: grayscale(40%);
}

.diap img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 100px;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  justify-content: center;
}



.background-container {
  position: relative;
}

/* Styling for the background rectangle */
.background-rectangle {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: black;
  z-index: -1; /* Place it behind other elements */
}
/*****************************************************************/

/* Styling Menu */
.menu {
  display: flex;
  background-color: #333;
  padding: 10px;
  justify-content: center;
  margin-top: 540px;
}

.menu-item {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.menu-item:hover {
  text-decoration: underline;
}

.menu-item a:hover {
  background-color: #555; 
}
/*************************************************************************/

/* Styling for the logos container */
h1 {
  font-size: 24px; /* Adjust the font size as needed */
  font-weight: bold; /* Set the font weight to bold */
  color: #333; /* Set the text color to a desired color */
  text-align: center; /* Center-align the text */
  margin-top: 20px; /* Adjust the top margin as needed */
  margin-bottom: 20px; /* Adjust the bottom margin as needed */
}
.marque {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px; /* Adjust the margin as needed */
}

/* Styling for each row of logos */
.logo-row {
  display: flex;
  justify-content: space-around;
  width: 100%; /* Ensure each row takes the full width */
  margin-bottom: 20px; /* Adjust the margin between rows as needed */
}

/* Styling for each logo image */
.marque img {
  width: 100px; /* Adjust the width of each logo image */
  height: auto;
  margin: 5px; /* Adjust the margin around each logo image as needed */
}




h2 {
  color: #333; /* Set text color */
}



.custom-list {
  list-style: none; /* Remove default list styles */
  padding: 0; /* Remove default padding */
}

.list-item {
  background-color: #f0f0f0; /* Set background color */
  padding: 8px; /* Add padding to each list item */
  margin: 5px 0; /* Add margin between list items */
  border-radius: 5px; /* Add rounded corners */
}

.list-item:hover {
  background-color: #ddd; /* Change background color on hover */
  cursor: pointer; /* Show pointer cursor on hover */
}

/*************************************** Styling Form *****************************************************/
form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3, h4 {
  color: #333;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #e8ec62;
}
.form-container1 {
  margin-top: 1000px;
  display: flex;
 
  margin-bottom: 20px; /* Space between form-container elements */
}

.form-space {
  width: 20px; 
}




#hiddenSelect,
  #filteredSelect {
    display: none; /* or visibility: hidden; */
  }



  #myButton {
    display: block;
    margin: 20px auto; /* Adjust as needed */
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #EDF68B;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#myButton:hover {
  background-color: #bbca12;
}

  /******************************* Style Table ****************************************************/
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  thead {
    background-color: #2C7BA6;
    color: #fff;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tbody tr:hover {
    background-color: #d4edf7;
  }

  /******************************** Style footer *******************************/
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  z-index: 2;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  z-index: 2;
}

.description {
  width: 100%;
  margin-bottom: 20px;
}



h1 {
  color: #fff;
  text-align: center;
}

.con {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.logo-row {
  display: flex;
  margin-bottom: 20px;
}

.brand-container {
  text-align: center;
  margin: 0 10px;
}

.brand-name {
  margin-top: 10px;
  color: #fff;
}

/* Style for Marque Section */
.marque {
  max-width: 1200px;
  margin: 20px auto;
  text-align: center;
}

.marque h1 {
  color: #333;
}

.marque .logo-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.marque img {
  max-width: 100%;
  height: auto;
}
.menuu {
  display: flex;
  list-style: none;
  padding: 0;
}

.menu-item {
  margin-right: 20px; /* Adjust as needed for spacing between menu items */
}

.menu-item a {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.menu-item a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #bbca12; /* Line color on hover */
  transition: width 0.3s ease; /* Add transition for smooth line animation */
}

.menu-item a:hover::before {
  width: 100%; /* Expand the line on hover */
}

/**********************************************/
#guide {
  display: block;
  margin: 20px auto; /* Adjust as needed */
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #EDF68B;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#guide:hover {
  background-color: #bbca12;
}

/********************* Cmp Pop ***********************************/
/* Style for comparison frames */
.comparison-frame {
  display: flex;
  justify-content: space-around;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.vehicle-container {
  flex: 1;
  text-align: center;
}

.vehicle-container img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.vehicle-container p {
  margin: 5px 0;
}



#cmp {
  font-family: 'Arial', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #333; 
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 5px 5px #EDF68B;
}