
/* Styling la logo */ 
.logo {
    position: fixed;
    left:0;
    top:20px;
    padding:10px; 
}

.logo img {
  height: 100px;
  width: 200px;
}



/* Styling button de connection et inscription */
.auth {
  position: fixed;
  top:30px;
  background: linear-gradient(to bottom right, #b6a404, #FF9A5A);
  border: 10px;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.auth:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }
  
.auth:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }

#connec {
  right: 20px;
}
#ins {
  right:110px;
}



